{% extends "examples/layouts/" + (layoutName if layoutName else "primary") + ".html" %}
{% set title = "Button - View More" %}

{% block example %}
  <button data-action="view-more-example" class="spark-btn spark-btn--md spark-btn--view-more">View More Results</button>

  <hr />

  <button data-action="view-more-example" data-result-length="10" class="spark-btn spark-btn--md spark-btn--view-more">View 10 More Results</button>

  <script type="text/javascript">
    'use strict';

    // Wait for page to finish loading
    document.addEventListener('DOMContentLoaded', function() {
    var ViewMoreExample = {
      createProgressMeter: function(example){
        // Init Progress meter
        var progressMeterHTML =  '<progress></progress>'+
        '<span class="spark-progress__meter"></span>'+
        'Loading ';
        if(example.getAttribute('data-result-length'))
          progressMeterHTML += example.getAttribute('data-result-length');
        progressMeterHTML += ' Results...';
        return progressMeterHTML;
      },

      mockNetworkCall: function(example){
      // Save original button state
        var orig = example.innerHTML;
        var origClasses = example.className;

      // Switch to progress meter, simulates the active state of a network request
        example.className += ' spark-progress active';
        example.innerHTML = ViewMoreExample.createProgressMeter(example);

      // Revert back after timeout, to simulate a completed network request
        window.setTimeout(function(){
          example.className = origClasses;
          example.innerHTML = orig;
        }, 3000);
      }
    };

    // Click Listener Event
      function addClickListner(example) {
        example.addEventListener('click', function(e){
          e.preventDefault();
          // Make sure button is not in active state
          if(e.target.className.indexOf('active') < 0) {
            // Simulate a network call
            ViewMoreExample.mockNetworkCall(e.target);
          }
        }, false);
      }

    // Target buttons
      var viewMoreExamples = document.querySelectorAll('[data-action="view-more-example"]');
      for (var i = viewMoreExamples.length - 1; i >= 0; i--) {
        addClickListner(viewMoreExamples[i]);
      }
    });
  </script>
{% endblock %}

{% block scripts %}

{% endblock %}
