{% extends "examples/layouts/" + (layoutName if layoutName else "primary") + ".html" %}
{% set title = "Expand Collapse" %}

{% block example %}
<div class="spark-panel spark-panel--card col-xs-12 col-sm-6">
  <div class="spark-panel__content spark-expand">
    <h3>
      Design Principles
    </h3>
    <p>
      Users are at the center of everything we do. With this in mind, we have adopted a set of user experience principles with hope that these will guide the design of an amazing experience while you incorporate Spark into your into your own applications.
    </p>
    <p id="expand-collapse_content" class="spark-expand__content" aria-hidden="true">
      Duis elit laborum cupidatat do cillum nulla est culpa elit cillum culpa in culpa velit nisi commodo commodo sit Duis magna irure anim enim nisi mollit sit et enim adipisicing aute sed proident consequat proident ullamco consectetur fugiat dolore culpa deserunt veniam eu magna dolor proident tempor aliqua dolor officia enim.
    </p>
    <button class="spark-btn spark-btn--text spark-expand__toggle spark-expand__hide--expanded" aria-expanded="false" aria-hidden="false" aria-controls="expand-collapse__content">More About Principles<span class="spark-expand__toggle-caret"></span></button>
    <button class="spark-btn spark-btn--text spark-expand__toggle spark-expand__show--expanded" aria-expanded="true" aria-hidden="true" aria-controls="expand-collapse__content">Less About Principles<span class="spark-expand__toggle-caret"></span></button>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% include "examples/partials/scripts/expand.js" %}
{% endblock %}
