////
/// ## Offset
/// Add spacing to elements
/// @group helpers/offset
///
/// @example
/// .spark-mar-0 { margin: 0 }
/// .spark-pad-.5 { padding: .5rem }
/// .spark-mar-l-1 { margin-left: 1rem }
/// .spark-pad-t-2--lte-sm { padding-top: 2rem } // Small breakpoint and below
////

@mixin makeOffsets {

  $props: ('margin': 'mar', 'padding': 'pad');
  $modifiers: ('': '', 't': 'top','b': 'bottom', 'l': 'left', 'r': 'right');
  $sizes: (0: 0, \.5: .5rem, 1: 1rem, 2: 2rem);
  $breakpoints: map-keys($grid-breakpoints);

  @include makeOffset($props, $modifiers, $sizes);

  @each $breakpoint in $breakpoints {

    @include media-breakpoint-only($breakpoint) {
      @include makeOffset($props, $modifiers, $sizes, $breakpoint)
    }

    @if $breakpoint != 'xl' {
      @include media-breakpoint-up($breakpoint) {
        @include makeOffset($props, $modifiers, $sizes, 'gte-' + $breakpoint)
      }
    }

    @if $breakpoint != 'xs' {
      @include media-breakpoint-down($breakpoint) {
        @include makeOffset($props, $modifiers, $sizes, 'lte-' + $breakpoint)
      }
    }
  }
}

@mixin makeOffset($props, $modifiers, $sizes, $breakpoint: '') {

  @each $propName, $prop in $props {

    @each $modifierName, $modifierValue in $modifiers {

      @each $sizeName, $sizeValue in $sizes {

        $name: $propName + if($modifierValue != '', '-' + $modifierValue, '');
        $className: $prop + if($modifierName != '', '-' + $modifierName, '') + if($sizeName != '', '-' + $sizeName, '') + if($breakpoint != '', '--' + $breakpoint, '');

        .spark-#{$className} {
          #{$name}: $sizeValue !important;
        }
      }
    }
  }
}

@include makeOffsets();

// MARGIN

// All

/// A small (1/2 baseline) margin on an element
/// @deprecated Remove in 3.0.0
.spark-margin--sm {
  margin: .5rem !important;
}

/// A standard 1 baseline margin on an element
/// @deprecated Remove in 3.0.0
.spark-margin {
  margin: 1rem !important;
}

/// A large (2 baseline) margin on an element
/// @deprecated Remove in 3.0.0
.spark-margin--lg {
  margin: 2rem !important;
}


// Top

/// A small (1/2 baseline) margin on the top of an element
/// @deprecated Remove in 3.0.0
.spark-margin-top--sm {
	margin-top: .5rem !important;
}

/// A standard 1 baseline margin on the top of an element
/// @deprecated Remove in 3.0.0
.spark-margin-top {
	margin-top: 1rem !important;
}

/// A large (2 baseline) margin on the top of an element
/// @deprecated Remove in 3.0.0
.spark-margin-top--lg {
	margin-top: 2rem !important;
}



// Bottom

/// A small (1/2 baseline) margin on the bottom of an element
/// @deprecated Remove in 3.0.0
.spark-margin-bottom--sm {
	margin-bottom: .5rem !important;
}

/// A standard 1 baseline margin on the bottom of an element
/// @deprecated Remove in 3.0.0
.spark-margin-bottom {
	margin-bottom: 1rem !important;
}

/// A large (2 baseline) margin on the bottom of an element
/// @deprecated Remove in 3.0.0
.spark-margin-bottom--lg {
	margin-bottom: 2rem !important;
}



// Left

/// A small (1/2 baseline) margin on the left of an element
/// @deprecated Remove in 3.0.0
.spark-margin-left--sm {
  margin-left: .5rem !important;
}

/// A standard 1 baseline margin on the left of an element
/// @deprecated Remove in 3.0.0
.spark-margin-left {
  margin-left: 1rem !important;
}

/// A large (2 baseline) margin on the left of an element
/// @deprecated Remove in 3.0.0
.spark-margin-left--lg {
  margin-left: 2rem !important;
}



// Right

/// A small (1/2 baseline) margin on the right of an element
/// @deprecated Remove in 3.0.0
.spark-margin-right--sm {
  margin-right: .5rem !important;
}

/// A standard 1 baseline margin on the right of an element
/// @deprecated Remove in 3.0.0
.spark-margin-right {
  margin-right: 1rem !important;
}

/// A large (2 baseline) margin on the right of an element
/// @deprecated Remove in 3.0.0
.spark-margin-right--lg {
  margin-right: 2rem !important;
}



// PADDING

// All

/// A small (1/2 baseline) margin on an element
/// @deprecated Remove in 3.0.0
.spark-padding--sm {
  padding: .5rem !important;
}

/// A standard 1 baseline padding on an element
/// @deprecated Remove in 3.0.0
.spark-padding {
  padding: 1rem !important;
}

/// A large (2 baseline) padding on an element
/// @deprecated Remove in 3.0.0
.spark-padding--lg {
  padding: 2rem !important;
}


// Top

/// A small (1/2 baseline) padding on the top of an element
/// @deprecated Remove in 3.0.0
.spark-padding-top--sm {
  padding-top: .5rem !important;
}

/// A standard 1 baseline padding on the top of an element
/// @deprecated Remove in 3.0.0
.spark-padding-top {
  padding-top: 1rem !important;
}

/// A large (2 baseline) padding on the top of an element
/// @deprecated Remove in 3.0.0
.spark-padding-top--lg {
  padding-top: 2rem !important;
}



// Bottom

/// A small (1/2 baseline) padding on the bottom of an element
/// @deprecated Remove in 3.0.0
.spark-padding-bottom--sm {
  padding-bottom: .5rem !important;
}

/// A standard 1 baseline padding on the bottom of an element
/// @deprecated Remove in 3.0.0
.spark-padding-bottom {
  padding-bottom: 1rem !important;
}

/// A large (2 baseline) padding on the bottom of an element
/// @deprecated Remove in 3.0.0
.spark-padding-bottom--lg {
  padding-bottom: 2rem !important;
}



// Left

/// A small (1/2 baseline) padding on the left of an element
/// @deprecated Remove in 3.0.0
.spark-padding-left--sm {
  padding-left: .5rem !important;
}

/// A standard 1 baseline padding on the left of an element
/// @deprecated Remove in 3.0.0
.spark-padding-left {
  padding-left: 1rem !important;
}

/// A large (2 baseline) padding on the left of an element
/// @deprecated Remove in 3.0.0
.spark-padding-left--lg {
  padding-left: 2rem !important;
}



// Right

/// A small (1/2 baseline) padding on the right of an element
/// @deprecated Remove in 3.0.0
.spark-padding-right--sm {
  padding-right: .5rem !important;
}

/// A standard 1 baseline padding on the right of an element
/// @deprecated Remove in 3.0.0
.spark-padding-right {
  padding-right: 1rem !important;
}

/// A large (2 baseline) padding on the right of an element
/// @deprecated Remove in 3.0.0
.spark-padding-right--lg {
  padding-right: 2rem !important;
}
