////
/// ## Filter
/// @group components/filter
////

@keyframes buttonPositionAnimation {
  0% {
    transform: translateY(0);
  }
}

/// Filter
.spark-filter {
  background-color: $filter__background-color;
  border: $filter__border;
}

.spark-filter--initializing {
  position: relative;
}

.spark-filter__header {
  padding: 2rem;
}

.spark-filter__result-label {
  float: left;
  text-transform: uppercase;
}

.spark-filter__toggle-button {
  float: right;
}

.spark-filter--initializing .spark-filter__content {
  clip: rect(0 0 0 0);
  flex-direction: column;
  height: 1px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;

  &.hide {
    display: flex;
  }
}

.spark-filter__content {
  &.hide {
    display: none;
  }
}

.spark-filter__modules-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.spark-filter__modules-container--initializing {
  justify-content: center;
  flex-wrap: nowrap;
}

.filter-expanded .spark-filter__tags-container {
  display: none;
}

.spark-filter__tag,
.spark-filter__applied-filters-counter {
  background-color: $filter__tag__background-color;
  border: $filter__tag__border;
  border-radius: 2rem;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 1rem 1rem 0 0;

  &.hide {
    display: none;
  }
}
@include media-breakpoint-up(lg){
  .spark-filter__tag,
  .spark-filter__applied-filters-counter {
    padding: 0 1rem;
  }
}

.spark-filter__tag__title {
  font-weight: bold;
}

.spark-filter__tag__close {
  cursor: pointer;
  font-size: 1.08333rem;
  margin-left: 2rem;
}

.spark-filter--initializing .spark-filter-module {
  &.hide {
    display: inherit;
  }
}
.spark-filter-module {
  flex-grow: 1;
  @include fontsize(zeta);
  margin-bottom: 2rem;
  position: relative;

  @include media-breakpoint-up(sm){
    flex-grow: 0;
  }
  @include media-breakpoint-only(sm) {
    flex-basis: 50%;
  }
  @include media-breakpoint-only(md) {
    flex-basis: 33.333333%;
  }
  @include media-breakpoint-up(lg) {
    flex-basis: 25%;
  }

  &:last-child,
  &.no-border {
    border-right: 0;
  }

  &.hide {
    display: none;
  }
}

.spark-filter-module:after {
  height: 100%;
  background: #ccc;
  width: 1px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -1px;
}

@include media-breakpoint-only(sm) {
  .spark-filter-module:nth-child(2n):after {
    display: none;
  }
}
@include media-breakpoint-only(md) {
  .spark-filter-module:nth-child(3n):after {
    display: none;
  }
}
@include media-breakpoint-up(lg) {
  .spark-filter-module:nth-child(4n):after {
    display: none;
  }
}

.spark-filter-module__wrapper {
  padding: 0 2rem 1rem 2rem;
}

.spark-filter-module__header {
  display: flex;
  justify-content: space-between;
}

.spark-filter-module__title {
  margin-bottom: 1rem;
}

.spark-filter-module__clear-container {
  margin-bottom: 1rem;
  text-align: right;

  &.hide {
    display: none;
  }
}

.spark-filter-module__clear--disabled {
  color: $filter__btn-text--disabled__color;
  cursor: not-allowed;
  pointer-events: none;
}

.spark-filter-module__clear--hidden {
  visibility: hidden;
}

.spark-filter-module--hide {
  display: none;
  width: 100%;

  &.show {
    display: inline;
  }
}

.spark-filter-module__show-all,
.spark-filter-module__show-less {
  &.hide {
    display: none;
  }
}

// container of view-more and view-less buttons
.spark-filter--initializing .spark-filter__footer {
  display: flex;
  padding: 0;
}

.spark-filter__footer {
  background-color: $filter__background-color;
  padding: 0 2rem 2rem;

  &.hide {
    display: none;
  }

  .spark-btn-group {
    padding-top: 1.5rem;
  }
}

.spark-filter__toggle-caret {
  color: inherit;
  display: inline-block;
  font-size: .75em;
  margin-left: .25rem;
  position: relative;
  top: -.1rem;
  transform: rotate(0deg);
  transition: transform 100ms $ease-in-out-quint;

  &::before {
    @extend %icon;
    @extend %icon-fill;
    content: '\f118';
    font-size: .75em !important;
  }
}

.spark-filter__view-less-filters {
  .spark-filter__toggle-caret {
    transform: rotate(-90deg);
  }
}

.spark-filter__view-more-filters,
.spark-filter__view-less-filters {

  &.hide {
    display: none;
  }
}

.spark-filter__clear-all {
  &.hide {
    display: none;
  }
}

// Modal variation for xs screen
.spark-filter--dropdown {
  .spark-filter__modules-container {
    display: block;
    border-top: $filter__border;

    &.hide {
      display: none;
    }
  }

  .spark-filter__dropdown-header {
    padding: 0 2rem 2rem 2rem;
  }

  .spark-filter-module {
    border-radius: 0;
    border-right: 0;
    box-shadow: $filter--dropdown__module__box-shadow;
    margin-bottom: 0;

    &:first-child {
      box-shadow: none;
    }

    &:first-child > .spark-filter-module__header {
      border-top-width: 1px;
    }

    &:first-child > .spark-filter-module__body {
      box-shadow: $filter--dropdown__first-child__box-shadow;
    }
  }

  .spark-filter-module__wrapper {
    padding: 0;
  }

  .spark-filter-module__header {
    border-radius: 0;
    margin-bottom: 0;
    border-top-width: 0;
  }

  .spark-filter-module--hide {
    display: block;
  }
  .spark-filter-module--hide .spark-filter-module__clear-container,
  .spark-filter-module__show-all {
    display: none;
  }

  .spark-filter__footer {
    padding: 0;

    .spark-btn-group {
      box-shadow: $filter--dropdown__module__box-shadow;
      background-color: $white;
      margin-bottom: 0;
      padding: 1rem;

      &.is-fixed {
        border-top: 1px solid $filter__border-color;
        bottom: 0;
        left: 0;
        position: fixed;
        z-index: 101; // to combat spark panels that have 100 z-index
      }
    }
  }

  .spark-filter__btn-apply {
    margin: 0;
  }

  .spark-filter-module__show-all__modal-button-container,
  .spark-filter-module__show-all__modal-close,
  .spark-filter-module__show-all__modal-title,
  .spark-filter-module__show-all__duplicate {
    display: none;
  }

  .spark-modal__close {
    padding: 2rem;
    top: .5rem;
  }

  .spark-panel__header {
    border-radius: 0;
  }
  .spark-panel__header,
  .spark-panel__header:hover {
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }

  &.spark-filter--initializing .spark-panel--expand .spark-panel__content {
    display: inherit;
  }
  .spark-panel__content {
    border-left: 0;
    border-right: 0;
  }

  .spark-panel__header:hover {
    border-bottom-color: $filter__border-color;
  }

  .spark-panel-expand.expanded .spark-panel__header {
    border-radius: 0;
  }

  .spark-filter__apply-btn-container--animate {
    animation: buttonPositionAnimation 250ms ease;
  }
}
