////
/// ## Form
/// @group components
////


/// A horizontal form treatment
.spark-form--horizontal {

  // No bottom border for inputs
  .spark-select,
  .spark-input {
    margin-bottom: 0;
  }

  // Tighten up columns
  [class^='col-'],
  [class*=' col-'] {
    padding-right: 0;
  }
}

@include media-breakpoint-down(xs) {

  /// On the xs breakpoint the horizontal form becomes vertical again
  .spark-form--horizontal {

    // Inputs fill the width and have a margin bottom again
    .spark-select,
    .spark-input {
      margin-bottom: 1rem;
      width: 100%;
    }

    // Loosen up columns
    [class^='col-'],
    [class*=' col-'] {
      padding-right: 1rem;
    }
  }
}
