////
/// ## Header
/// @group components/header
////


/// Primary header/navigation
.spark-header {
  background-color: $header__background-color;
  border-top: $header__border-top-width solid $header__border-top-color;
  color: $header__color;
  height: 7rem;
  position: relative;

  .spark-header__nav{
    height: 7rem;
  }

  // The slide out navigation menu
  .spark-menu {
    display: flex;
    flex-direction: column;
    left: 0;
    max-height: 100vh;
    max-width: 100vw;
    min-height: 100vh;
    overflow: auto;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    transition-delay: 0ms, 250ms;
    transition-duration: 250ms, 0ms;
    transition-property: transform, visibility;
    transition-timing-function: $ease-out-quint;
    width: 25rem;
    visibility: hidden;
    z-index: 100;

    // Fix for Android 4.4.3 where header doesn't take up enough space.
    > .spark-menu__header {
      flex: 0 0 auto;
    }

    // Reorder content
    > .spark-menu__list,
    > .spark-menu__animation-wrapper > .spark-menu__list {
      flex: 0 1 auto;
      order: 10;

      // Secondary lists shouldn't take up more space than they need.
      ~ .spark-menu__list {
        flex-grow: 0;
      }
    }

    > .spark-menu__animation-wrapper {
      flex: 0 1 auto;
      order: 10;
      width: 100%;

      // Secondary lists shouldn't take up more space than they need.
      ~ .spark-menu__list {
        flex-grow: 0;
      }
    }

    /// @deprecated Remove in 3.0.0 - To be removed until Search module is complete
    > .spark-header__search {
      flex-grow: 0;
      order: 5;
    }

    // Bump the title up to match our header logo
    .spark-logo {
      position: relative;
      top: -4px;
    }
  }

  // Top-level header menu
  .spark-header__menu {
    align-items: center;
    height: 100vh;
    position: fixed;
  }

  // Adjust the spacing on the menu title
  .spark-menu__title {
    line-height: 2.5rem;
    padding: 2.5rem 0;
  }

  // When we are in the collapsed state...
  &.spark-header--collapsed {

    // The navigation which isn't the placeholder. Don't want to style the placeholder
    // or else we can't track the sizes of elements.
    .spark-header__nav:not(.spark-header__placeholder) {

      // Show collapsed-specific text
      .spark-header__collapsed-show {
        display: inline-block;
      }

      // Collapsed text after an icon should have a margin to separate it from the icon
      [class^="spark-icon-"] + .spark-header__collapsed-show {
        margin-left: 1rem;
      }

      // Hide collapsed-specific text
      .spark-header__collapsed-hide {
        display: none;
      }
    }
  }

  // When we are visible or this is a placeholder, lay things out horizontally.
  &.spark-header--visible,
  .spark-header__placeholder {
    color: $header--visible__color;

    // When the overflow has been checked, elements have been
    // shown and hidden and we can remove overflow: hidden from
    // the overflow containers. If we don't do this, dropdowns
    // aren't visible. And we CAN'T just use overflow-x: hidden
    // and overflow-y: visible because when overflow-x or y is hidden
    // the other properly ALWAYS has a property of auto. Ugh.
    &.spark-header--overflow-checked {
      .spark-header__nav:not(.spark-header__placeholder) {
        .spark-header__menu,
        .spark-header__list--overflow {
          overflow: visible;
        }
      }
    }

    // Hide menus that shouldn't show when we're visible.
    .spark-header__list-visible-hidden {
      display: none !important;
    }

    // Hide collapsed-specific text
    .spark-header__collapsed-show {
      display: none;
    }

    // Show collapsed-specific text
    .spark-header__collapsed-hide {
      display: inline-block;
    }

    // Hide toggle
    .spark-menu__toggle {
      display: none;
    }

    // Hide nested list arrows
    .spark-menu__list-next {
      display: none;
    }

    // Pad the logo
    .spark-header__logo {
      padding-left: 2.5rem;
    }

    // Title width should be as small as possible
    .spark-header__title {
      width: auto;
    }

    // Main menu
    .spark-menu {
      background-color: transparent;
      color: inherit;
      display: flex;
      flex: 1 1 auto;
      flex-direction: row;
      height: auto;
      min-height: 0;
      max-height: none;
      max-width: none;
      position: static;
      transform: none;
      visibility: visible;

      // Hide top-level list titles
      > .spark-menu__title {
        display: none;
      }

      // Top-level items should have no font-size because otherwise there is a gap between the items.
      > .spark-menu__animation-wrapper > .spark-menu__list,
      > .spark-menu__list {
        color: inherit;
        flex: 0 1 auto;
        font-size: 0;
        height: 100%;
        padding: 0;
        white-space: nowrap;

        &.spark-header__search {
          flex-shrink: 0;
        }

        // Don't flex top-level links
        > .spark-menu__list-item > .spark-menu__list-links {
          display: inline-block;
        }

        // Dropdown list
        > .spark-menu__list-item > .spark-menu__list,
        > .spark-menu__list-item > .spark-menu__animation-wrapper > .spark-menu__list {
          background-color: $header--visible__second-level__background-color;
          box-shadow: 1px 0px 9px rgba(0, 0, 0, .23);
          border-radius: 0 0 $panel__border-radius $panel__border-radius;
          display: block;
          margin-bottom: 0;
          max-height: calc(100vh - 7rem);
          -ms-overflow-style: overflow-style;
          opacity: 0;
          overflow: hidden;
          overflow-y: auto;
          padding-bottom: 0;
          padding-top: 0;
          position: absolute;
          top: 100%;
          transition-delay: 0ms, 50ms;
          transition-duration: 200ms;
          transition-property: opacity, visibility;
          transition-timing-function: $ease-out-quint;
          white-space: normal;
          width: 20rem;
          z-index: 10;
          visibility: hidden;

          // Hide the shadow
          &::before, &::after {
            display: none;
          }

          // Style top-level dropdown items to
          > .spark-menu__list-item:not(.active) > .spark-menu__list-link,
          > .spark-menu__list-item:not(.active) > .spark-menu__list-links .spark-menu__list-link,
          > .spark-menu__list-item:not(.active) > .spark-menu__list-links .spark-menu__list-expand {
            &:hover {
              background-color: $menu__list-link--hover__background-color;
              color: $menu__list-link--hover__color;
            }
          }

         // Tall faux border on in-page links
         .spark-menu__list-item.active {
          > .spark-menu__list-link--in-page::before {
            margin-top: -1rem;
          }
        }


          // Second-level list items
          .spark-menu__list-item {
            display: block;
            min-width: 100%;

            // Adjust sizing on second-level links
            .spark-menu__list-link {
              border-top: none;
              display: block;
              line-height: 2rem;
              padding: 1rem 2rem;

              &.spark-menu__list-expand {
                padding-right: 4rem;
              }
            }

            // Third-level list items
            .spark-menu__list,
            .spark-menu__animation-wrapper > .spark-menu__list {
              border-top: none;

              &::before,
              &::after {
                content: '';
              }

              .spark-menu__list-item {
                @include fontsize($header--visible__third-level__font-size);

                .spark-menu__list-link {
                  padding: .5rem 2rem;
                }
              }

              // Shorter faux border on in-page links
              .spark-menu__list-item.active {
                > .spark-menu__list-link--in-page::before {
                  margin-top: -0.5rem;
                }
              }
            }
          }
        }

        // Top-level list items and links should display inline and take up
        // as little space as possible
        > .spark-menu__list,
        > .spark-menu__animation-wrapper > .spark-menu__list,
        > .spark-menu__animation-wrapper,
        > .spark-menu__list-links,
        > .spark-menu__list-link,
        > .spark-menu__list-item {
          background-color: inherit;
          color: inherit;
          display: inline-block;
          width: auto;
        }

        // Top-level list item
        > .spark-menu__list-item {
          height: 100%;

          // Top-level links
          > .spark-menu__list-link,
          > .spark-menu__list-links .spark-menu__list-link {
            border-top: #{$header--visible__link--active__border-top-width} solid transparent;
            line-height: 2rem;
            padding: calc(2.5rem - #{$header--visible__link--active__border-top-width / 2}) 2rem;

            // Offset the margin on large and medium icons so they don't make the header too tall
            .spark-icon--md,
            .spark-icon--lg {
              margin-right: 0;
            }
          }

          // Hover state
          &:hover {
            > .spark-menu__list-link,
            > .spark-menu__list-links .spark-menu__list-link {
              background-color: transparent;
              color: $header--visible__color;
            }

            > .spark-menu__list-links .spark-menu__list-expand::before {
              border-top-color: $header--visible__color;
            }
          }

          > .spark-menu__list-links {

            .spark-menu__list-link {
              padding-right: 4rem;
            }

            .spark-menu__list-expand {
              background: transparent;
              display: inline-block;
              flex: none;
              line-height: 0;
              min-width: 0;
              padding: 0;
              position: absolute;
              right: 2rem;
              top: 50%;
              transform: translateY(-50%);
              z-index: 10;

              &::before {
                border-bottom: 0;
                border-top: .5rem solid $header--visible__color;
                border-left: .5rem solid transparent;
                border-right: .5rem solid transparent;
                content: '';
                left: 0;
                padding-bottom: .25rem;
                position: relative;
                top: .25rem;
                transform: none;
              }

              // Hide the border on the side
              &::after {
                display: none;
              }

              &:focus::before {
                border: none;
                border-radius: 0;
                border-top: .5rem solid $header--visible__color;
                border-left: .5rem solid transparent;
                border-right: .5rem solid transparent;
                box-shadow: 0 1px 0 $header--visible__color;
              }
            }
          }

          // Show the immediate child list on hover or focus
          &:hover,
          &.has-focus {
            > .spark-menu__list,
            > .spark-menu__animation-wrapper > .spark-menu__list {
              opacity: 1;
              transition-delay: 0ms;
              visibility: visible;

              .spark-header__list-cta {
                display: block;
              }
            }
          }

          // Ignore the open state in the header
          &.open {
            > .spark-menu__list-links {
              color: inherit;
              font-weight: inherit;
            }
          }

          // Active state
          &.active,
          &.child-active,
          &.has-active-child {

            // Show the shadow
            &::after {
              opacity: 1;
            }

            // Color the link
            > .spark-menu__list-links .spark-menu__list-link,
            > .spark-menu__list-link {
              background-color: $header--visible__link--active__background-color;
              border-top: $header--visible__link--active__border-top-width solid $header--visible__link--active__border-top-color;
              color: $header--visible__link--active__color;
              font-weight: inherit;
            }

            > .spark-menu__list-links {
              background-color: transparent;
              font-weight: inherit;
            }
          }
        }

        // More button
        > .spark-header__more {
          width: auto;

          // Hide expand buttons in the more list because they can't be used until the menu
          // item is swapped out.
          .spark-menu__list-expand {
            display: none;
          }

          // Move the list up to cover the more button
          .spark-menu__list,
          .spark-menu__animation-wrapper > .spark-menu__list {
            background-color: $header--visible__second-level__background-color;
            border-radius: $panel__border-radius;
            max-width: none;
            padding-bottom: 1rem;
            padding-top: 1rem;
            top: calc(.8rem - #{$header--visible__link--active__border-top-width / 2});
            white-space: nowrap;
            width: auto;

            // Hide any nested lists
            .spark-menu__list {
              display: none;
            }
          }
        }

        // Lists after the first should only take up as much space as they need
        + .spark-menu__list {
          width: auto;
        }
      }

      > .spark-menu__animation-wrapper {
        // Lists after the first should only take up as much space as they need
        + .spark-menu__list {
          width: auto;
        }
      }

      // Dim Main Nav Links only on hover
      .spark-header__list:hover > .spark-menu__list-item,
      .spark-menu__animation-wrapper > .spark-header__list:hover > .spark-menu__list-item {
        // Dim text
        > .spark-menu__list-link,
        > .spark-menu__list-links > .spark-menu__list-link {
          color: $header--visible--hover__color;
        }

        // Dim any carets
        > .spark-menu__list-links .spark-menu__list-expand::before {
          border-top-color: $header--visible--hover__color;
        }
      }

      // Hover states for all menu items
      > .spark-menu__list > .spark-menu__list-item,
      > .spark-menu__animation-wrapper > .spark-menu__list > .spark-menu__list-item {
        // Keep the color of the hovered item
        &:hover {

          // Highlight text
          > .spark-menu__list-link,
          > .spark-menu__list-links > .spark-menu__list-link {
            color: $header--visible__link--hover__color;
          }

          // Highlight caret
          > .spark-menu__list-links .spark-menu__list-expand::before {
            border-top-color: $header--visible__link--hover__color;
          }
        }
      }

      .spark-menu__list-item--secondary .spark-menu__list-link:focus > [class^='spark-icon-'] {
        color: $header--visible__link--hover__color;
      }
    }

    // List items
    .spark-menu__list-item {

      // Shadow on the active tab
      &::after {
        background-color: $header--visible__link--active__shadow-color;
        content: '';
        display: block;
        height: calc(100% - #{$header--visible__link--active__border-top-width}); // Full height, minus 4px for the border.
        opacity: 0;
        position: absolute;
        right: -.2rem;
        top: #{$header--visible__link--active__border-top-width};
        transform: skew(-3deg);
        transition: opacity 250ms $ease-in-out-quint;
        z-index: 0;
        width: 1rem;
      }

      // Raise the z-index of links so they sit above the shadow
      .spark-menu__list-link {
        position: relative;
        z-index: 5;
      }
    }

    // Sign in link
    .spark-header__sign-in .spark-menu__list-link {
      background-color: $header__sign-in__background-color;
      border-top: none;
      color: $header__sign-in__color;
      @include useFont($weight: $header__sign-in__font-weight);
      line-height: 3rem;
      padding: calc(2rem - #{$header__border-top-width}) 2rem 2rem 4rem;
      top: 4px;
      white-space: nowrap;

      &:active,
      &:focus,
      &:focus:hover,
      &:hover {
        color: $header__sign-in--hover__color;
      }
    }

    // Overflow list should take up as much space as possible
    .spark-header__list--overflow {
      width: 100%;
    }

    // A second list should not have a top border
    .spark-menu__list ~ .spark-menu__list {
      border-top: none;
    }

    // Reset the font size on list items
    .spark-menu__list-item {
      @include fontsize($header__font-size);
    }

    // Hide the menu header
    .spark-menu__header {
      display: none;
    }

    // Reset ordering of search
    /// @deprecated Remove in 3.0.0 - Remove until search module is complete
    .spark-header__search {
      background-color: transparent;
      order: 10;

      // Reset icon size and color.
      > .spark-menu__list-item.spark-expand__toggle {
        border-bottom: none;

        [class^="spark-icon-"] {
          align-items: center;
          display: flex;
          height: calc(100% - #{$header__border-top-width});
          margin-top: #{$header__border-top-width};
        }

        > .spark-menu__list-link {
          border-top: none;

          [class^="spark-icon-"] {
            color: inherit;
          }
        }
      }

      .spark-input {
        .spark-input__field:focus {
          padding-bottom: .5rem;
          padding-top: .5rem;
        }
      }

      // Show the expand button
      > .spark-expand__toggle {
        display: block;
      }

      // Should fit snug against a list that follows it
      + .spark-menu__list,
      + .spark-menu__animation-wrapper > .spark-menu__list {
        margin-left: -1rem;
      }

      // Show the form when search is expanded
      &.expanded {
        .spark-header__search-form {
          display: block;
        }
      }
    }

    // Hide the search form by default
    /// @deprecated Remove in 3.0.0 - Remove until search module is complete
    .spark-header__search-form {
      border-bottom: none;
      display: none;
      height: calc(100% - #{$header__border-top-width});
      padding: 1rem 0 1rem 2rem;
      position: absolute;
      right: 0;
      top: ($header__border-top-width / 2);
      width: 25rem;
      z-index: 10;

      .spark-input {
        padding: 0 1rem;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        .spark-input__field {
          background-color: $input__background-color;
          border: $input__border;
          padding-left: 1rem;

          // Hide the icons we don't need
          ~ .spark-header__search-icon,
          ~ .spark-input__clear {
            display: none;
          }
        }

        .spark-input__addon {
          font-size: 1rem;
          right: 1rem;
        }
      }

      // Create a shadow to the left
      &::before {
        background: linear-gradient(to right, transparent, $header__background-color 2rem);
        content: '';
        display: inline-block;
        height: calc(100% - #{$header--visible__link--active__border-top-width});
        left: 0;
        position: absolute;
        top: $header--visible__link--active__border-top-width;
        width: 100%;
      }
    }

    // Hide overflow content
    .spark-header__list--overflow {
      overflow: hidden;
    }

    // Navigation
    .spark-header__nav.active {

      // Disable background gray-out
      &::before {
        display: none;
      }
    }
  }

  // Inside the placeholder, the animation wrapper should display the same as the menu list
  .spark-header__placeholder .spark-menu > .spark-menu__animation-wrapper {
    display: block;
    flex: 0 1 auto;
    overflow: hidden;
    white-space: nowrap;
  }

  // Extra small breakpoint and condensed class should be condensed
  &[data-breakpoint='xs']:not(.spark-header__placeholder),
  &.spark-header--condensed:not(.spark-header__placeholder) {
    height: 5rem;

    .spark-header__nav{
      height: 5rem;
    }

    .spark-header__logo {
      padding: calc(1.5rem - 4px) 0 calc(1.5rem + 4px);
    }

    .spark-header__title {
      line-height: 2rem;
      padding: calc(1.5rem - #{$header__border-top-width + 2px}) 2rem calc(1.5rem - 2px);
    }

    .spark-header__sign-in {
      .spark-menu__list-link {
        max-width: 40vw;
        overflow: hidden;
        padding: calc(1.5rem - #{$header__border-top-width}) 2rem 1.5rem 4rem;
        text-overflow: ellipsis;
      }
    }

    .spark-menu__header {
      .spark-menu__title {
        padding: 1.5rem 2rem 1.5rem 0;
      }

      /// @deprecated Remove in 3.0.0
      .spark-header__logout {
        padding: 1rem 2rem;
      }
    }
  }

  // Condensed styles which should apply to the placeholder
  &.spark-header--condensed {

    // Also visible, squish the buttons
    &.spark-header--visible {

      .spark-header__logo {
        padding: calc(1.5rem - #{$header__border-top-width}) 0 1.5rem 2.5rem;
      }

      .spark-header__sign-in {
        .spark-menu__list-link {
          padding: calc(1.5rem - #{$header__border-top-width / 2}) 2rem calc(1.5rem - #{$header__border-top-width / 2}) 4rem;
          line-height: 2rem;
        }
      }

      .spark-menu {
        // Shorter list items
        > .spark-menu__list > .spark-menu__list-item > .spark-menu__list-link,
        > .spark-menu__list > .spark-menu__list-item > .spark-menu__list-links .spark-menu__list-link,
        > .spark-menu__list > .spark-menu__list-item > .spark-menu__list-links .spark-menu__list-expand,
        > .spark-menu__animation-wrapper > .spark-menu__list > .spark-menu__list-item > .spark-menu__list-link,
        > .spark-menu__animation-wrapper > .spark-menu__list > .spark-menu__list-item > .spark-menu__list-links .spark-menu__list-link,
        > .spark-menu__animation-wrapper > .spark-menu__list > .spark-menu__list-item > .spark-menu__list-links .spark-menu__list-expand {
          padding-bottom: calc(1.5rem - #{$header__border-top-width / 2});
          padding-top: calc(1.5rem - #{$header__border-top-width / 2});
        }

        // Adjust the max height of the dropdown
        > .spark-menu__list > .spark-menu__list-item > .spark-menu__list,
        > .spark-menu__animation-wrapper > .spark-menu__list > .spark-menu__list-item > .spark-menu__list {
          max-height: calc(100vh - 5rem);
        }

        // More button
        > .spark-menu__list > .spark-header__more,
        > .spark-menu__animation-wrapper > .spark-menu__list > .spark-header__more {

          // Move the list up to cover the more button
          .spark-menu__list {
            padding: .5rem 0;
            top: #{$header__border-top-width / 2};
          }
        }
      }
    }
  }

  // When we are extra small
  &[data-breakpoint='xs']:not(.spark-header__placeholder) {

    // Adjust the width of the toggle since we're hiding the logo.
    .spark-header__toggle {
      width: 4rem;
    }

    // Hide any logo
    .spark-header__logo > * {
      display: none;
    }

    // Menu becomes full screen width
    .spark-header__menu {
      width: 100vw;
    }
  }
}

/// Fixed header. The JS will make this transition to a condensed header on scroll.
.spark-header--fixed {
  left: 0;
  position: fixed;
  top: 0;
  transition-delay: 0;
  transition-duration: 400ms;
  transition-property: height;
  transition-timing-function: $ease-in-out-quint;
  width: 100%;
  z-index: 100;

  .spark-menu__list-link,
  .spark-header__title,
  .spark-header__nav,
  .spark-header__logo {
    transition-duration: 400ms;
    transition-property: padding, line-height, height;
    transition-timing-function: $ease-in-out-quint;
  }
}

/// A header w/ no logo needs to have an angle on the toggle
.spark-header--no-logo {
  .spark-header__toggle {
    margin-right: 2rem;
    position: relative;
    width: 5rem;
    z-index: 5;

    &::after {
      @include angle($header__logo--sabre__background-color);
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(100%, -50%);
      z-index: 0;
    }
  }
}

/// Navigation wrapper
.spark-header__nav {
  display: flex;
  margin-top: -#{$header--visible__link--active__border-top-width};
  position: relative;

  // Direct descendants should flex
  .spark-header__title,
  .spark-header__sign-in,
  .spark-menu {
    flex: 0 1 auto;
  }
  .spark-header__title {
    overflow: hidden;
  }

  .spark-header__sign-in {
    flex-shrink: 0;
  }

  // Gray background cover when active
  &::before {
    @extend %gray-out;
  }

  // Show the menu when we're active
  &.active {

    // Gray out the background
    &::before {
      opacity: 1;
      transition-delay: 0ms;
      visibility: visible;
    }

    // Fly out from the left
    .spark-header__menu {
      @extend %gray-out--active;
      align-items: initial;
      overflow-x: hidden;
      transform: translateX(0);
    }
  }
}

/// Logo
.spark-header__logo {
  background-color: $header__logo--sabre__background-color;
  border-bottom: none;
  display: inline-block;
  flex: none;
  line-height: 0;
  margin-bottom: 0;
  margin-right: 2rem;
  padding: calc(2.5rem - #{$header__border-top-width}) 1.5rem 2.5rem;
  padding-right: 0;
  position: relative;
  z-index: 10;

  .spark-logo {
    position: relative;
    z-index: 5
  }

  &::after {
    @include angle($header__logo--sabre__background-color);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(100%, -50%);
    z-index: 0;
  }
}

/// Hamburger menu
.spark-header__toggle {
  background-color: $header__logo--sabre__background-color;

  // When a toggle precedes a logo, no left padding on the logo
  & + .spark-header__logo {
    padding-left: 0;
  }
}

/// Title text. Width needs to fill out the space to prevent the sign in button from being large
.spark-header__title {
  border-top: $header__border-top-width solid $header__border-top-color;
  color: $header__title__color;
  display: inline-block;
  @include fontsize(25);
  @include useFont($header__title__font-family, $header__title__font-weight);
  line-height: 2rem;
  margin-bottom: 0;
  padding: calc(2.5rem - #{$header__border-top-width + 2px}) 2rem 2.5rem;
  white-space: nowrap;
  width: 100%;

  &:hover, &:active {
    color: $header__title__color;
  }

  &:focus {
    border-bottom: 0;
    padding-bottom: 2rem;
    text-decoration: underline;
  }
}

/// The 'more' button
.spark-header__more {

  // Uppercase the text
  .spark-menu__list {
    text-transform: uppercase;
  }
}

/// A placeholder version of the nav. This is used by the JS to compute
/// the size of list items. It should be absolutely positioned to remove it from
/// the flow and hidden.
.spark-header__placeholder {
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: -100%;
  width: 100%;
  z-index: -10;
}

/// Overflow nav list container
.spark-header__list--overflow {
  overflow: auto;
  width: 100%;
}

/// The sign in button
.spark-header__sign-in {
  overflow: visible !important;

  .spark-menu__list-link {
    background-color: $header__sign-in__background-color;
    border-top: $header__border-top-width solid $header__border-top-color;
    color: $header__sign-in__color;
    display: block;
    @include useFont($weight: 400);
    line-height: 2rem;
    margin-bottom: 0;
    padding: calc(2.5rem - #{$header--visible__link--active__border-top-width}) 2rem 2.5rem 4rem;
    text-transform: none;
    white-space: nowrap;

    &:active,
    &:focus,
    &:focus:hover,
    &:hover {
      background-color: $header__sign-in__background-color;
      color: $header__sign-in--hover__color;
    }

    // Angle
    &::after {
      @include angle($header__background-color);
      left: 0;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}

/// The logout button
/// @deprecated Remove in 3.0.0
.spark-header__logout {
  background-color: transparent;
  border: none;
  color: $header__title__color;
  flex-shrink: 0;
  font-size: 1rem;
  line-height: 3rem;
  padding: 2rem;
  text-transform: uppercase;
}

/// A special call to action button at the bottom of a header dropdown.
/// Should be hidden by default, visible only when the header itself is "visible".
.spark-header__list-cta {
  border-top: $menu__list--second__border-top;
  display: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

/// Link component of a header CTA
.spark-header__list-cta-link {
  display: block;
  @include fontsize($header__list-cta__font-size);
  @include useFont($weight: 400);
  line-height: 2rem;
  padding: 1rem 0;
  text-indent: 0;
  text-transform: uppercase;

  // Override default link behavior
  &:focus {
    border-bottom: none;
    padding: 1rem 0;
    text-decoration: underline;
  }
}

/// Search input
/// @deprecated Remove in 3.0.0 - Remove until search module is complete
.spark-header__search {
  align-items: center;
  display: flex;
  width: 100%;

  // Search icon should be inline
  .spark-menu__list-link {
    display: inline-block;
    flex: 0 1 auto;
    line-height: 1rem;
    padding: 1rem;
    width: auto;

    [class^='spark-icon-'] {
      color: $header__search__color;
      @include fontsize(delta);
    }
  }

  // Hide the expand button when we aren't displayed horizontally.
  > .spark-expand__toggle {
    display: none;
  }
}

/// Show the form all the time
/// @deprecated Remove in 3.0.0 - Remove until search module is complete
.spark-header__search-form {
  border-bottom: 1px solid $header__search__border-color;
  display: block;
  flex: 1;
  position: relative;
  width: 100%;

  // Hide the drop shadow
  &::before {
    display: none;
  }

  // Input field
  .spark-input {
    .spark-input__field {
      background-color: $header__search__background-color;
      border: none;
      color: $header__search--active__color;
      @include fontsize(eta);
      height: 3rem;
      padding: .5rem 3rem .5rem 2rem;
      transition-duration: 100ms;
      transition-property: height, padding;
      transition-timing-function: $ease-in-out-quint;

      @include placeholder {
        color: $header__search__color;
      }

      ~ .spark-header__search-icon {
        display: block;
      }

      ~ .spark-input__clear {
        display: none;
        right: .25rem;
      }

      &:focus {
        background-color: $header__search--active__background-color;
        border: none;
        height: 4rem;
        padding-bottom: 1rem;
        padding-top: 1rem;

        @include placeholder {
          color: $input__placeholder__color;
        }
      }
    }

    &.active,
    .spark-input__field:focus {
      .spark-header__search-icon,
      & ~ .spark-header__search-icon {
        display: none;
      }

      .spark-input__clear,
      & ~ .spark-input__clear {
        display: block;
      }
    }
  }
}
