////
/// ## Select Multiple
/// @group components/multi-select-input
////


@mixin spark-multi-select-colors($color) {
  border-color: $color;

  .spark-multi-select__label {
    border-color: $color;
  }
  .spark-select__message {
    background: $color;
  }
}

/// A multiple select input
.spark-multi-select {
  background: $select--multiple__background-color;
  border: $select--multiple__border;
  border-radius: $select--multiple__border-radius;
  color: $select--multiple__color;
  display: block;
  position: relative;
  z-index: 7;

  &.spark-multi-select--no-title {
    .spark-multi-select__input {
      border: $select--multiple__border;
      padding: 0;
    }
  }

  &.active {
    background: $select--multiple__background-color;
    .spark-multi-select__label {
      border-top: $select--multiple--active__border;
      border-left: $select--multiple--active__border;
      border-right: $select--multiple--active__border;
    }
  }
  &:not(.spark-multi-select--no-title) {
    .spark-multi-select__input:not([disabled]) {
      border-top: $select--multiple__border--input-top !important;
    }
  }

  &.has-value.active {
    .spark-multi-select__label {
      color: $select--multiple--active__label__color;
    }
  }

  &:focus {
    padding: 10rem;
  }

  &:hover:not([disabled]) {
    border: $select--multiple--hover__border;

    .spark-multi-select__label {
      border: $select--multiple--hover__border;
    }
  }

  &, &:hover:not([disabled]) {
    &[data-info],
    &[data-success],
    &[data-warning],
    &[data-error] {
      .spark-select__message {
        display: block;
      }
    }

    &[data-success] {
      @include spark-multi-select-colors($color-state-success);
    }

    &[data-warning] {
      @include spark-multi-select-colors($color-state-warning);
    }

    &[data-error] {
      @include spark-multi-select-colors($color-state-danger);
    }

    &[data-info] {
      @include spark-multi-select-colors($color-state-info);
    }

    &[disabled] {
      background-color: $select--multiple--disabled__background-color;
      color: $select--multiple--disabled__color;

      &, * {
        cursor: not-allowed;
      }

      .spark-multi-select__label {
        background-color: $select--multiple--disabled__background-color;
      }

      .spark-multi-select__container {
        background-color: $select--multiple--disabled__background-color;
        overflow: hidden;
      }

      .spark-select__message {
        display: none;
      }
    }
  }

  @for $i from 2 to 11 {
    &[size='#{$i}'] {
      .spark-multi-select__container {
        height: $i * 3.75rem - 1.5rem;
      }
    }
  }

  &[disabled] {
    .spark-multi-select__container {
      overflow: hidden;
    }
  }
}

.spark-multi-select__input {
  margin: -1px;
  padding: 0;
  position: relative;
  z-index: 8;
  background: transparent;
  display: block;
  width: calc(100% + 2px);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border-left: $select--multiple__border;
  border-right: $select--multiple__border;
  border-bottom: $select--multiple__border;
  border-radius: $select--multiple__border-radius;
  color: $select--multiple__color;
  @include fontsize(zeta);

  optgroup,
  option {
    padding: .75rem;
    @include fontsize(eta);
    @include useFont($body__font_family, 300);

    &:checked {
      @include useFont($body__font_family, 700);
    }
  }

  &:hover:not([disabled]) {
    ~ .spark-multi-select__label {
      border-left: $select--multiple--hover__border;
      border-right: $select--multiple--hover__border;
      border-top: $select--multiple--hover__border;
    }
    border: $select--multiple--hover__border;
  }

  &:not([disabled]) + .spark-multi-select__label:hover {
    border-left: $select--multiple--hover__border;
    border-right: $select--multiple--hover__border;
    cursor: pointer;
  }

  &[disabled] {
    overflow-y: hidden;
    background-color: $select--multiple--disabled__background-color;
    // border: $select--multiple--disabled__border;
    color: $select--multiple--disabled__color;
    padding-top: 5rem;
    cursor: not-allowed;

    ~ .spark-multi-select__label {
      background-color: $select--multiple--disabled__background-color;
      // border: $select--multiple--disabled__border;
      color: $select--multiple--disabled__color;
      cursor: not-allowed;
      z-index: 8;
      &::after {
        border-top-color:$select--multiple--disabled__color;
      }
    }

    optgroup,
    option {
      color: $select--multiple--disabled__color;
    }
  }

  &:not([disabled]) {
    &[data-error],
    &[data-success],
    &[data-warning] {
      border-radius: $select--multiple__border-radius $select--multiple__border-radius 0 0;

      // Fade in and scale up the message.
      & ~ .spark-select__message {
        display: block;
        opacity: 1;
        position: relative;
        transform: scaleY(1);
        transition-delay: 100ms, 0ms, 0ms;
        transition-duration: 0ms, 100ms, 100ms;
      }
    }

    &[data-error] {
      &,
      &:hover {
        &, ~ .spark-multi-select__label, ~ .spark-multi-select__label:hover {
          border-color: $color-state-danger;
        }
      }

      ~ .spark-select__message {
        background-color: $color-state-danger;
      }
    }

    // When the container has an warning state, show it below.
    &[data-warning] {
      &,
      &:hover {
        &, ~ .spark-multi-select__label, ~ .spark-multi-select__label:hover {
          border-color: $color-state-warning;
        }
      }

      ~ .spark-select__message {
        background-color: $color-state-warning;
      }
    }

    // When the container has an success state, show it below.
    &[data-success] {
      &,
      &:hover {
        &, ~ .spark-multi-select__label, ~ .spark-multi-select__label:hover {
          border-color: $color-state-success;
        }
      }

      ~ .spark-select__message {
        background-color: $color-state-success;
      }
    }
  }
}

.spark-multi-select__label {
  @include fontsize(zeta);
  position: absolute;
  top: 0;
  left: 0;
  border-top: $select--multiple__border;
  border-left: $select--multiple__border;
  border-right: $select--multiple__border;
  border-bottom: $select--multiple__border;
  border-radius: $select--multiple__border-radius $select--multiple__border-radius 0 0;
  padding: 2rem 1rem;
  z-index: 6;
  background: $select--multiple__background-color;
  margin: -1px;
  width: calc(100% + 2px);
  line-height: 1rem;

  display: block;

  @include media-breakpoint-down(xs) {
    &::after {
      border-color: transparent;
      border-style: solid;
      border-top-color: $select__arrow__background-color;
      border-width: .5rem;
      border-top-width: .75rem;
      content: '';
      display: inline-block;
      position: absolute;
      right: 1rem;
      top: 1.55em;
      transition-duration: 100ms;
      transition-property: color, top;
      transition-timing-function: $ease-in-out-quint;
    }
  }
}

.spark-multi-select__label--small {
  @include fontsize(eta);
}

.spark-multi-select__label ~ .spark-multi-select__container {
  margin-top: calc(5.25rem - 1px);
}

.spark-multi-select__container {
  overflow-y: auto;
  background: $select--multiple__background-color;
  z-index: 6;
  padding-left: 1rem;
  border-radius: $select--multiple__border-radius;

  .spark-multi-select__group {
    display: block;
    padding: 0 0 0 1rem;

    .spark-multi-select__group__label {
      @include fontsize(zeta);
      margin-left: -1rem;
      display: block;
      line-height: 1rem;
      padding: 1rem 0;
    }
  }
}

.spark-select__message {
  border-radius: 0;
}
