{% extends "examples/layouts/" + (layoutName if layoutName else "primary") + ".html" %}
{% set title = "Tabs" %}

{% block example %}
<div class="spark-tabs">
  <nav class="spark-tabs__nav" role="menubar">
    <div class="spark-tabs__scroll">
      <ul class="spark-tabs__list" role="tablist">
        <li class="spark-tabs__tab active" role="presentation">
          <a href="#" role="tab" aria-controls="tab1" aria-selected="true">This Title Really Long And Needs To Be Truncated</a>
        </li>
        <li class="spark-tabs__tab" role="presentation">
          <i class="spark-icon-airplane"></i>
          <a href="#" role="tab" aria-controls="tab2">Also long and has an icon.</a>
        </li>
        <li class="spark-tabs__tab" role="presentation">
          <a href="#" role="tab" aria-controls="tab3">Normal</a>
        </li>
        <li class="spark-tabs__tab" role="presentation">
          <a href="#" role="tab" aria-controls="tab4">Normal 4</a>
        </li>
      </ul>
    </div>
    <div class="spark-tabs__btns">
      <button class="spark-tabs__btn spark-icon-arrow-chevron-left spark-tabs__btn--left"></button>
      <button class="spark-tabs__btn spark-icon-arrow-chevron-right spark-tabs__btn--right"></button>
    </div>
  </nav>
  <div class="spark-tabs__panels">
    <div id="tab1" role="tabpanel" class="spark-tabs__panel" aria-hidden="false">Tab 1 content</div>
    <div id="tab2" role="tabpanel" class="spark-tabs__panel" aria-hidden="true">Tab 2 content</div>
    <div id="tab3" role="tabpanel" class="spark-tabs__panel" aria-hidden="true">Tab 3 content</div>
    <div id="tab4" role="tabpanel" class="spark-tabs__panel" aria-hidden="true">Tab 4 content</div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% include "examples/partials/scripts/tabs.js" %}
{% endblock %}
