{% extends "examples/layouts/" + (layoutName if layoutName else "primary") + ".html" %}
{% set title = "Text Input - Hard Character Count" %}

{% block example %}
<label class="spark-input" data-characters-remaining>
  <input class="spark-input__field" name="example1" maxlength="140" placeholder="Please provide a detailed description. You may include a maximum of 140 characters." role="textbox">
  <span class="spark-label">Description</span>
</label>
{% endblock %}

{% block scripts %}
{% include "examples/partials/scripts/text-input.js" %}
{% endblock %}
